</br>
 <script type="text/javascript">



      jQuery.datetimepicker.setLocale('ru');

      

     $(function() {

      var logic = function( currentDateTime ){
        // 'this' is jquery object datetimepicker
        if( currentDateTime.getDay()==6 ){
          this.setOptions({
            minTime:'12:00'
          });
        }else
          this.setOptions({
            minTime:'10:00'
          });
      };
      
    //$('select[name="colorpicker"]').simplecolorpicker();      
     $('#colorpicker').simplecolorpicker();
     $('#inputDateTime2').datetimepicker({
      onChangeDateTime:logic,
      onShow:logic,
      step:30,
      dayOfWeekStart:1,
      disabledWeekDays:[0],
      maxTime:'21:00',
      formatDate:'Y/m/d',
      minDate:'0'


    });
     //jQuery.datetimepicker.setLocale('ru');
     //jQuery('#inputDateTime2').datetimepicker();
     //($('#navbarDropdown').text().trim() == 'Гость')
   });
   </script> 

<form action='/visit' method='post' class="form-horizontal" role="form">

      <!-- t.string :name
      t.string :phone
      t.timestamp :datestamp
      t.string :barber
      t.string :color -->
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Ваше имя</label>
    <div class="col-sm-10">
      <input type="Text" class="form-control" autofocus name='client[name]' id="inputName" placeholder="Введите ваше имя" value="<%= params[:client] ? params[:client][:name] : ''%>" >
    </div>
  </div> 

  <div class="form-group">
    <label for="inputPhone" class="col-sm-2 control-label">Номер телефона</label>
    <div class="col-sm-10">
      <input type="Text" class="form-control" name='client[phone]' id="inputPhone" placeholder="Введите ваш номер телефона" value="<%= params[:client] ? params[:client][:phone] : ''%>" >
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputDateTime" class="col-sm-3 control-label">Когда Вас ждать?</label>
    <div class="col-sm-10">
      <input type="Text" class="form-control" name='client[datestamp]' id="inputDateTime2" autocomplete="on" placeholder="Введите дату и время" value="<%= params[:client] ? params[:client][:datestamp] : ''%>"  >
    </div>
  </div>

  <div class="form-group">
    <label for="inputSpecialist" class="col-sm-4 control-label">Выберите парикмахера:</label>
    <div class="col-sm-10">
      <select class="form-control" name='client[barber]' id="inputSpecialist"  >
      	  <% @specs.each do |sp| %>
          <option<%=  @c.nil? ? "" : @c.barber == sp['name'] ? ' selected' : '' %>><%= sp['name'] %></option>
          <% end %>
      </select>
    </div>
  </div>

 <div class="form-group">
    <label for="colorpicker" class="col-sm-5 control-label">В какой цвет вас окрасить?</label>
    <select name="client[color]" id='colorpicker'>
      <option value="#7bd148">Green</option>
      <option value="#5484ed">Bold blue</option>
      <option value="#a4bdfc">Blue</option>
      <option value="#46d6db">Turquoise</option>
      <option value="#7ae7bf">Light green</option>
      <option value="#51b749">Bold green</option>
      <option value="#fbd75b">Yellow</option>
      <option value="#ffb878">Orange</option>
      <option value="#ff887c">Red</option>
      <option value="#dc2127">Bold red</option>
      <option value="#dbadff">Purple</option>
      <option value="#e1e1e1">Gray</option>
    </select>
</div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <div class="checkbox">
        <label>
          <input type="checkbox" name='inputRememberMe'> Запомнить меня
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
  

</form>
